body {
    background-color: cornsilk;
}

h1 {
    color: pink;
    font-size: 40px;
}

pre {
    color: pink;
    font-size: 20px;
}

p {
    color: pink;
    font-size: 20px;
}

.button {
    font-size: 20px;
    border-color: pink;
    background-color: thistle;
}